<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Colegio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Colegio.Properties.Settings>
            <setting name="usuario_db" serializeAs="String">
                <value>system</value>
            </setting>
            <setting name="contrasenia_db" serializeAs="String">
                <value>pampam</value>
            </setting>
            <setting name="nombre_db" serializeAs="String">
                <value>ORCL</value>
            </setting>
        </Colegio.Properties.Settings>
    </userSettings>
</configuration>